name: test
on: push

jobs:
  test:
    runs-on: ubuntu-24.04
    container: ros:jazzy-ros-base

    strategy:
      matrix:
        python-version: [3.10, 3.11, 3.12]
        cmake-version: [3.26, 3.27, 3.28]

    steps:
      - uses: actions/checkout@v2

      - name: build and test
        shell: bash
        run: |
          mkdir -p /root/ros2_ws/src
          rsync -av ./ /root/ros2_ws/src/mypkg

          cd /root/ros2_ws/src
          git clone https://github.com/Dokozoyanonukko/system_msgs.git

          cd /root/ros2_ws
          source /opt/ros/jazzy/setup.bash
          bash -xv ./src/mypkg/test/test.bash /root
